<div class="test">
    <h2 class="text-center pt-5">Testimony</h2>
</div>

<div class="slider">
    <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" />
    <input type="radio" name="testimonial" id="t-3" checked />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" />
    <div class="testimonials mb-8">
      <label class="item" for="t-1">
        <div class="mycard">
          
          <div>
            <img src="{{peopledata[0].imageurl}}" alt="nivel5" class="cardimg" />
          </div>
          <p class="text-dark cardtitle">{{peopledata[0].name}}</p>
          <div>
            <p class="text-dark carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-2">
        <div class="mycard">
          
          <div>
            <img src="{{peopledata[1].imageurl}}" alt="nivel5" class="cardimg" />
          </div>
          <p class="text-dark cardtitle">{{peopledata[1].name}}</p>
          <div>
            <p class="text-dark carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-3">
        <div class="mycard">
          
          <div>
            <img src="{{peopledata[2].imageurl}}" alt="nivel5" class="cardimg" />
          </div>
          <p class="text-dark cardtitle">{{peopledata[2].name}}</p>
          <div>
            <p class="text-dark carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-4">
        <div class="mycard">
          
          <div>
            <img src="{{peopledata[3].imageurl}}" alt="nivel5" class="cardimg" />
          </div>
          <p class="text-dark cardtitle">{{peopledata[3].name}}</p>
          <div>
            <p class="text-dark carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-5">
        <div class="mycard">
          
          <div>
            <img src="{{peopledata[4].imageurl}}" alt="nivel5" class="cardimg" />
          </div>
          <p class="text-dark cardtitle">{{peopledata[4].name}}</p>
          <div>
            <p class="text-dark carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
    </div>
    <div class="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>