<div class="homebody">
  
    <!-- landing page -->
    <div class="landingpage">
        <div class="mx-5 type">
          
            <img src="https://scontent.fcok1-1.fna.fbcdn.net/v/t1.6435-9/75412267_1327066197497665_1036592796431024128_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=L6WiCvs7eFsAX8nxDTZ&_nc_ht=scontent.fcok1-1.fna&oh=00_AT-ert38-BX-X8-x6trPLnjgZD_1Cd8nDyY-PWUoLIewJw&oe=62C6E605" style="border-radius: 250px; width: 250px; height: 250px;" alt="">
              <br>
              <br>
            <h1>AMAL V</h1>
            <h4>I'm a FullStack Developer</h4>
            <button class="custom-btn btn-5"><span>Hire Me</span></button>
        </div>
      </div>
    </div>
    
    <!-- landing page ends-->

 <!-- Service page -->
 <div class="services">

    <section class="service-grid pb-5 pt-5">
      <div class="container">
          <div class="row">
              <div class="col-xl-12 text-center mb-4">
                  <div class="service-title">
                      <h2>Our Services</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div data-aos="fade-right" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="fas fa-layer-group"></i>
                      </div>
                      <h4>Web Application</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div data-aos="fade-down" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="far fa-chart-bar"></i>
                      </div>
                      <h4>Highly customizable</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div data-aos="fade-left" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="fas fa-database"></i>
                      </div>
                      <h4>Responsive design</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div data-aos="fade-right" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="fas fa-cogs"></i>
                      </div>
                      <h4>service & plugins</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div data-aos="fade-up" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="fas fa-chart-pie"></i>
                      </div>
                      <h4>Optimised for speed</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div data-aos="fade-left" class="col-lg-4 col-md-6 text-center mb-3">
                  <div class="service-wrap">
                      <div class="service-icon">
                          <i class="fas fa-thumbs-up"></i>
                      </div>
                      <h4>Dedicated support</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
  
    <!-- Service page ends-->



    <!-- Testimony  -->

    <div class="slide">
    <app-testimony></app-testimony>
    </div>
    
      
    <!-- Testimony ends -->

   